<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conlang App</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- So I can use CSRF tokens in more than just forms. -->
    <meta name="csrf-token" content="{{ csrf_token }}">
    <script>
      document.addEventListener('htmx:configRequest', function(evt) {
        evt.detail.headers['X-CSRFToken'] = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      });
    </script>
</head>
<body>
<div id="extract_text_master_container">
    {% load hoverable_words %}
    <div id="current_text" style="font-size: 20px; margin-top: 50px">
    {{ text_content |hoverable_words:params }}
    </div>

    {% if form_up %}
<!--    Context is inherited so probably don't need the with ...  with form_div_context=form_div_context only-->
        {% include 'partials/current_form.html'%}
    {% endif %}
</div>


<script>
  var container = document.getElementById('current_text');

  container.addEventListener('click', (e) => {
    if (e.target.classList.contains('word')) {
      clickedWord = e.target.firstChild.data
      submitTokens(clickedWord)
    }
  });

  container.addEventListener('mouseup', () => {
    const selection = window.getSelection().toString();
    if (selection.length > 0) {
        submitTokens(selection)
    }
  });

  function submitTokens(tokens) {
      var selected_form = {% if not form_up %} 'vocabulary_entry_form' {% else %} {{ selected_form }} {% endif %}
      htmx.ajax('POST', '{% url "user-clicks-text" text_id %}', {
      target: 'body',
      values: {
        form_up: 1,
        token: tokens,
        selected_form: selected_form
      }
    }).catch(() => {});
  }
</script>
</body>
</html>