<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    </head>
<div id="text-list">
  <h2>Text 1</h2>
  <p>This is the body of the text, and I want it to cut off...</p>
  <h2>Text 2</h2>
  <p>This is the body of the text, and I want it to cut off...</p>
</div>

<div id="enter-text">
  <h1>Enter your first text here</h1>
  <textarea rows="10" cols="50" placeholder="Enter your text here..." style="font-family: Arial; font-size: 14px; padding: 10px;"></textarea>
</div>

</html>