<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conlang App</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- So I can use CSRF tokens in more than just forms. -->
    <meta name="csrf-token" content="{{ csrf_token }}">
    <script>
      document.addEventListener('htmx:configRequest', function(evt) {
        evt.detail.headers['X-CSRFToken'] = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      });
    </script>
</head>
<body>

<!--TABS-->
<div id="tabs">
  <a href="{% url 'vocabulary-list' %}" class="button">Vocabulary List</a>
  <a href="{% url 'phonology-and-glyphs-tab' %}" class="button">Glyphs and Phonology Mappings</a>
  <a href="{% url 'grammar-tab' %}" class="button">Grammar Notes</a>
</div>

<!--LIST OF TEXTS-->
<div id="text_list">
    {% if texts %}
        {% for text in texts %}
            {% include 'partials/text_entry.html' %}
        {% endfor %}
    {% endif %}
</div>

<!--FORM WHERE YOU MANUALLY SUBMIT A TEXT TITLE AND BODY-->
<form id="submit_text_form" hx-post="{% url 'index' %}" hx-target="body" autocomplete="off">
    {% csrf_token %}
    <p>Enter title here:</p>
    {{submit_text_form.title}}
    <p>Enter text here:</p>
    {{submit_text_form.body}}
    <br>
    <input type="submit" value="Submit" form="submit_text_form" style="margin-top: 10px">
</form>

<br>

<!--UPLOAD TEXT VIA FILE-->
<form id="upload_file_form" hx-post="{% url 'handle-file' %}" hx-target="body" hx-encoding="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <p>Or optionally upload from file:</p>
    {{ upload_file_form.file }}
    <input type="submit" value="Submit" form="upload_file_form" style="margin-top: 10px">
</form>

</body>
</html>