<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conlang App</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- So I can use CSRF tokens in more than just forms. -->
    <meta name="csrf-token" content="{{ csrf_token }}">
    <script>
      document.addEventListener('htmx:configRequest', function(evt) {
        evt.detail.headers['X-CSRFToken'] = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      });
    </script>

    <script>
      function closeModal() {
        const modal = document.getElementById('modal');
        modal.classList.add('closing');
        setTimeout(() => {
          modal.classList.remove('open', 'closing');
        }, 300);
      }
    </script>
</head>
<body>

{% if glyphs %}
    {% for glyph in glyphs %}
    <div>
        <ul>
            {% if glyph.phonology_mappings.exists %}
                <li><span class="word" style="{% if currently_selected_glyph_id == glyph.glyph_id %}background-color: yellow;{% endif %}" hx-post="{% url 'phonology-and-glyphs-tab' %}" hx-target="body" hx-vals='{ "glyph_id": {% if currently_selected_glyph_id != glyph.glyph_id %}{{ glyph.glyph_id }}{% else %}null{% endif %} }'>{{glyph.glyph_string}}</span></li> -->
                {% for pm in glyph.phonology_mappings.all %}
                    {{ pm.ipa_symbol }},
                {% endfor %}
            {% else %}
              <li><span class="word" style="{% if currently_selected_glyph_id == glyph.glyph_id %}background-color: yellow;{% endif %}" hx-post="{% url 'phonology-and-glyphs-tab' %}" hx-target="body" hx-vals='{ "glyph_id": {% if currently_selected_glyph_id != glyph.glyph_id %}{{ glyph.glyph_id }}{% else %}null{% endif %} }'>{{glyph.glyph_string}}</span></li>
            {% endif %}
            <button hx-get="{% url 'modal' %}" hx-target="body" hx-swap="beforeend" hx-vals='{"model": "Glyph", "action": "update", "params": "{\"glyph_id\": {{glyph.glyph_id}}}"}'>Update</button>
            <button hx-post="{% url 'crud-router' %}" hx-swap="none" hx-vals='{"model": "Glyph", "action": "delete", "primary_key": {{glyph.glyph_id}}}'>Delete</button>
        </ul>
    </div>
    {% endfor %}
{% endif %}

{% if currently_selected_glyph_id == None %}
    {% include 'partials/ipa_table.html' %}
{% else %}
    {% include 'partials/ipa_table_clickable.html' %}
{% endif %}
</body>
</html>