<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conlang App</title>
</head>
<body>

<h1>Glyphs (need to map it to below table somehow)</h1>
<ul>
  <li>a --> (/a/, /e/)</li>
  <li>b</li>
  <li>c</li>
</ul>


<table>
  <tr>
    <th></th>
    <th>Alveolar</th>
    <th>Fricative</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

</body>
</html>