<div id="modal">
  <div class="modal-underlay" onclick="closeModal()"></div>
  <div class="modal-content">
      {% if which_model == "Text" %}
            {% include 'partials/text_edit_form.html'%}
      {% elif which_model == "VocabularyEntry" %}
            {% include 'partials/ve_edit_form.html'%}
      {% elif which_model == "GrammarNote" %}
            {% include 'partials/gn_edit_form.html'%}
      {% elif which_model == "Glyph" %}
            {% include 'partials/glyph_edit_form.html'%}
      {% endif %}
  </div>
</div>

<script>
  function submitForm() {
    event.preventDefault(); //Ajax competes with native form submission reload action. Likely common AJAX pattern.

    const form = event.target
    const data = new FormData(form);
    const values = data.values()
    const dataAsObj = Object.fromEntries(data.entries());

    for (const value of data.values()) {
      console.log(value);
    }

    htmx.ajax('POST', '{% url "crud-router" %}', {
      target: 'body',
      swap: 'beforeend',
      values: {
        model: "{{ which_model }}",
        action: "update",
        primary_key: {{ pk }},
        params: JSON.stringify(dataAsObj)
      }
    }).catch(() => {});
  }

  function closeModal() {
    console.log("I am in closeModal")
    const modal = document.getElementById('modal');
    modal.classList.add('closing');
    setTimeout(() => {
      modal.remove();
    }, 300);
  }

  // Open the modal immediately after it's inserted
  document.getElementById('modal').classList.add('open');
</script>